<li>
  <div
    class="characters"
    data-id=<%= character.id %>
    data-power="<%= character.power %>"
  >
    <%= character.name %> - <%= character.power %>
  </div>
  <button class="btn" id="edit-character">Edit</button>
  <button class="btn" id="delete-character">Delete</button>
</li>